<div class="header" style="text-align: center;   ">
  <h2>educ'ee</h2>
  <h4 routerLink="/notes">TABLEAU DE BORD</h4>
 </div>

 <div class="header" style="margin-top: 50px;">
   <div style="" >
    <!-- <div style="text-align: center;">
      <strong>Espace employeur</strong>
     </div> -->
    <ion-list style="background-color: #e9e9e9;" lines="none" >
      <ion-item routerLink="/notes" >
        <ion-label  >
          <ion-icon name="card-outline"></ion-icon>
          Entrer de notes
        </ion-label>
      </ion-item>
      <ion-item [routerLink]="['/eleves']" routerLinkActive="router-link-active"   button>
        <ion-label>
          <ion-icon name="people-circle-outline"></ion-icon>
          Ajouter éleve
        </ion-label>
      </ion-item>
      <ion-item [routerLink]="['/information']" routerLinkActive="router-link-active"   button>
        <ion-label>
          <ion-icon name="clipboard-outline"></ion-icon>
          Ajouter informations
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
 </div>
 
