@media(min-width: 768px) {
    ion-router-outlet {
      margin-left:240px;
     // margin-top: 63px;
    }
  }
  
  @media(max-width: 768px) {
      ion-router-outlet {
        margin-left:240px;
       // margin-top: 57px;
        }
  }


  
  
  