<div class="header" style="text-align: center;   ">
  <h2 style="color: white;">educ'ee</h2>
  <h4 style="color: white;">TABLEAU DE BORD</h4>
 </div>

 <div class="header" style="margin-top: 50px;">
   <div style="" >
    <!-- <div style="text-align: center;">
      <strong>Espace employeur</strong>
     </div> -->
    <ion-list style="background-color: #e9e9e9;" lines="none" >
      <ion-item routerLink="/gestionecole" routerDirection="root" routerLinkActive="active-item" button>
        <ion-label>
          <ion-icon name="business-outline"></ion-icon>
       Gestion ecoles
        </ion-label>
      </ion-item>
      <ion-item   routerLink="/gestioneleves" routerDirection="root" routerLinkActive="active-item" button>
        <ion-label>
          <ion-icon name="people-circle-outline"></ion-icon>
         Gestion eleves
        </ion-label>
      </ion-item>
      <!-- <ion-item  routerLink="/gestionnotes" routerDirection="root" routerLinkActive="active-item" button>
        <ion-label>
          <ion-icon name="reader-outline"></ion-icon>
         Gestion notes
        </ion-label>
      </ion-item> -->
    </ion-list>
  </div>
 </div>
 
