<ion-header>
  <ion-toolbar>
    <ion-title>gestionnotes</ion-title>
    <ion-buttons  slot="end">
      <ion-button fill="outline" color="danger" (click)="presentPopover($event)">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Nouvelle matière
      </ion-button>
    </ion-buttons>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-buttons style="display: flex; justify-content: space-between;">
          <ion-button (click)="isOpen = false"   color="danger"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
        <div style="padding: 10px;">
          <ion-item fill="solid">
            <ion-label position="floating">Intitulé de la matiere</ion-label>
            <ion-input type="text" [(ngModel)]="matiere.nom" (keydown.enter)="onKeyPress($event)" ></ion-input>
            <ion-note slot="helper">Appuyer sur entrer pour valider</ion-note>
          </ion-item>
        </div>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <ion-card style="height: 50px; text-align: center; background-color: skyblue;">
    <ion-card-header>
      <ion-card-title style="color: white; display: flex; justify-content: space-around;"> <span>{{"matricule: "+infos_eleve.matricule}}</span> <span>{{" Eleve: "+infos_eleve.nom+' '+infos_eleve.prenoms}}</span> {{'Ecole: '+infos_eleve.nom_ecole}} <span></span></ion-card-title>
    </ion-card-header>
  </ion-card>

  <div  style="margin: 5%;">
  
    <div *ngIf="ismatiere ==='chargement'" style=" text-align: center;position: absolute;left: 0;right: 0;top: 50%;transform: translateY(-50%);" >
      <strong>Chargement ...</strong>
    </div>

    <div *ngIf="ismatiere ==='true'" >
      <!-- <ion-button style="" color="warning" (click)="presentPopover2($event)">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        type d'évaluation
      </ion-button> -->
      <ion-popover #popover2 [isOpen]="isOpen2" (didDismiss)="isOpen2 = false">
        <ng-template>
          <ion-buttons style="display: flex; justify-content: space-between;">
            <ion-button (click)="isOpen2 = false"   color="danger"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
          <div style="padding: 10px;">
            <ion-item fill="solid">
              <ion-label position="floating">Intitulé du type d'évaluation</ion-label>
              <ion-input type="text" [(ngModel)]="type_evaluation.nom" (keydown.enter)="onKeyPress2($event)" ></ion-input>
              <ion-note slot="helper">Appuyer sur entrer pour valider</ion-note>
            </ion-item>
          </div>
        </ng-template>
      </ion-popover>
    </div>
    <ion-accordion-group *ngIf="ismatiere ==='true'">
      <ion-accordion *ngFor="let item of matieres">
        <ion-item slot="header" color="light">
          <ion-label>{{item}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="col-lg-12">
            <!-- <div style="background-color:#1e748b; margin: 10px; display: grid; " class="table-responsive">
              <table class="table project-list-table table-nowrap align-middle table-borderless">
                <thead>
                  <tr style="color: white;">
                    <th *ngFor="let item of evaluations" scope="col" >{{item}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> <input style="width: 70px; border-radius: 30px;" type="text" [(ngModel)]="note1.valeur"> </td>
                    <td><input style="width: 70px; border-radius: 30px;" type="text" [(ngModel)]="note2.valeur"></td>
                    <td><input style="width: 70px; border-radius: 30px;" type="text" [(ngModel)]="note3.valeur"></td>
                    <td><input style="width: 70px; border-radius: 30px;" type="text" [(ngModel)]="devoir.valeur"></td>
                    <td><input style="width: 70px; border-radius: 30px;" type="text" [(ngModel)]="compo.valeur"></td>
                    <td> <ion-button color="success" (click)="valider(item)">Valider</ion-button></td>
                  </tr>
                </tbody>
              </table>
              <div style="text-align: end;">
               
              </div>
              
            </div>  -->

            <div style="margin: 10px;">
              <ion-card>
                <ion-card-content>
                  <ion-item fill="solid">
                    <ion-label position="floating">Type d'évaluation</ion-label>
                    <ion-select [(ngModel)]="note.type_evaluation" interface="popover" type="text" >
                      <ion-select-option>Interogation</ion-select-option>
                      <ion-select-option>Devoir</ion-select-option>
                      <ion-select-option>Composition</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item fill="solid">
                    <ion-label position="floating">Valeur </ion-label>
                    <ion-input [(ngModel)]="note.valeur" type="number" ></ion-input>
                  </ion-item>
                </ion-card-content>
                <div style="background-color:aliceblue; text-align: end;">
                <ion-button (click)="enregistrerNote(item)" >Valider</ion-button>
                </div>
              </ion-card>
            </div>
           
          </div> 
      
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
   
 
</div>
</ion-content>









