<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">gestion des ecoles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%);">
    Bienvenue dans l'espace de gestion des ecoles. <br>
    Aucune ecole enrégistrer pour le moment <br>
    <ion-button style="margin-top: 10px;">Ajouter une Ecole</ion-button>
    <!-- <div style="border-radius: 30px; background-color: aliceblue;">
      Ajouter une Ecole
    </div> -->
  </div>
  
</ion-content>








