.user-content{
    border-radius: 10px;
     background-color: #1e748b;
    //background-color: white;
    padding: 10px;
    margin: 2%;
    //width: 75%;
  }
  
  .user-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
  }
