<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">gestion des élèves</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="etat === 'vide'" style="text-align: center; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%);">
    Bienvenue dans l'espace de gestion des eleves <br>
    Aucun élève enrégistrer pour le moment <br>
    <ion-button id="open-modal" style="margin-top: 10px;">Ajouter un élève</ion-button>
    <!-- <div style="border-radius: 30px; background-color: aliceblue;">
      Ajouter une Ecole
    </div> -->
  </div>

  <div *ngIf="etat === 'non_vide'">
    <ion-searchbar style="width: 500px;"   animated="true" placeholder="Entrer le nom de l'élève"></ion-searchbar>
  <!-- <div  style="background-color: #beb6b6;  padding: 10px; margin: 2%;">
      <div  class="user-element">
           <span> Nom </span>
           <span> Prenoms </span>
           <span> Classe </span>
           <span> Ecole </span>
           <span> Matricule </span>
           <span>ACTIONS</span>
      </div>
  </div> -->

   <div  *ngFor="let item of listeeleves">
      <div  class="user-content">
        <div  class="user-element">
         <span style="color: white;">Nom: {{item.nom}}</span>
         <span style="color: white;">Prenoms: {{item.prenoms}}</span>
         <span style="color: white;">Classe: {{item.classe}}</span>
         <span style="color: white;">Ecole: {{item.nom_ecole}}</span>
         <span style="color: white;">Matricule: {{item.matricule}}</span>
         <div class="">
          <ion-buttons>
            <!-- <ion-button title="informations" color="light">
              <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button> -->
            <ion-button title="notes" (click)="gestionNotes(item)" color="success">
              <ion-icon name="clipboard-outline"></ion-icon>
            </ion-button>
            <!-- <ion-button title="modifications" color="warning">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button> -->
            <ion-button title="suppression" (click)="supprimerEleve(item)" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>      
          </ion-buttons>
        </div>
        </div>
    </div>
    </div>
   
  </div>








  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Annuler</ion-button>
          </ion-buttons>
          <ion-title style="text-align: center;">Ajouter un élève</ion-title>
          <!-- <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons> -->
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <!-- <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>
        </ion-item> -->
        <!-- <h2> DEMANDE INSCRIPTION <strong>educ'ee</strong></h2> -->
      <ion-item fill="solid">
        <ion-label position="floating">Nom de l'élève</ion-label>
        <ion-input [(ngModel)]="dataEcole.nom" type="text" ></ion-input>
        <!-- <ion-input type="text" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating"> Prenoms de l'élève</ion-label>
        <ion-input [(ngModel)]="dataEcole.prenoms" type="text" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating"> Matricule de l'élève </ion-label>
        <ion-input [(ngModel)]="dataEcole.matricule" type="text" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating"> Email du parent </ion-label>
        <ion-input [(ngModel)]="dataEcole.email_parent" type="email" placeholder="" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating"> Nom de l'ecole de l'élève </ion-label>
        <ion-input [(ngModel)]="dataEcole.nom_ecole" type="text" placeholder="" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating"> Classe de l'élève </ion-label>
        <ion-input [(ngModel)]="dataEcole.classe" type="text" placeholder="" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <div style="margin-top: 20px; text-align: center;">
        <ion-button (click)="confirm()" >VALIDER</ion-button>
      </div>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-fab id="open-modal" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>








