<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EDUC'EE
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div style="text-align: end;">
    <ion-button  *ngIf="level === 'auth'"  (click)="level = 'administrateur'" color="light"  style="--border-radius: 25px;">Administrateur</ion-button>
  </div>
   
  



  <div id="container">
    <div *ngIf="level === 'auth'"> 
      <h2> Bienvenue sur le tableau de bord <strong>educ'ee</strong></h2>
      <ion-button (click)="level = 'connexion'"  color="warning" size="large" style="--border-radius: 25px;">Connexion</ion-button> <br>
      <span>---------ou----------</span> <br>
      <ion-button (click)="level = 'inscription'" color="success" size="large" style="--border-radius: 25px;">Demande D'adhésion</ion-button>
    </div>



    <div style="margin-right:25% ; margin-left:25% ;" *ngIf="level === 'connexion'">
      <h2> CONNEXION <strong>educ'ee</strong></h2>
      <ion-item fill="solid">
        <ion-label position="floating">email de l'école</ion-label>
        <ion-input type="text" ></ion-input>
        <!-- <ion-input type="text" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating">Mot de passe </ion-label>
        <ion-input type="password" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <div style="margin-top: 20px;">
        <ion-button (click)="connexion()">CONNEXION</ion-button>
      </div>
      
    </div>

    <div style="margin-right:25% ; margin-left:25% ;" *ngIf="level === 'inscription'">
      <h2> DEMANDE INSCRIPTION <strong>educ'ee</strong></h2>
      <ion-item fill="solid">
        <ion-label position="floating">Nom de l'école</ion-label>
        <ion-input type="text" ></ion-input>
        <!-- <ion-input type="text" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating"> Email de l'école </ion-label>
        <ion-input type="email" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating"> Téléphone </ion-label>
        <ion-input type="tel" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating"> Directeur </ion-label>
        <ion-input type="text" placeholder="Nom et prenoms" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating"> Localisation </ion-label>
        <ion-input type="text" placeholder="ville, quartier" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <div style="margin-top: 20px;">
        <ion-button (click)="Inscription()">VALIDER</ion-button>
      </div>
    </div>

    <div style="margin-right:25% ; margin-left:25% ;" *ngIf="level === 'administrateur'">
      <h2> ADMINISTRATION   <strong>educ'ee</strong></h2>
      <ion-item fill="solid">
        <ion-label position="floating">Identifiant</ion-label>
        <ion-input type="text" ></ion-input>
        <!-- <ion-input type="text" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating">Mot de passe </ion-label>
        <ion-input type="password" ></ion-input>
        <!-- <ion-input type="email" ngModel email></ion-input> -->
        <!-- <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>
      <div style="margin-top: 20px;">
        <ion-button (click)="Admin()">VALIDER</ion-button>
      </div>
      
    </div>
  </div>
</ion-content>
